// Theme colors
$primary: #091216;
$secondary: #6c767a;
$success: #00b74a;
$info: #81c9e0;
$warning: #ffa900;
$danger: #f93154;
$light: #f9f9f9;

//bg colors

@import "../../node_modules/mdb-react-ui-kit/dist/scss/mdb.free.scss"