.Welcome{
    height: 100vh;
    display: flex; 
    font-size: large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

.Welcome .passwordInput{
    text-align: center;
    font-size: 200%;
    caret-color: transparent;
}

.Welcome .welcomeTitle{
    font-size: 50px;
}

.Welcome button.btn {
    text-transform: unset;
  }
  
.Welcome body.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Welcome body{
    width: 100vw;
    height: 100vh;
    background: lightgray;
    color: black;
    font-family:'sans-serif';

}

.Welcome .numPad{
    border-radius: 10px;
    background: gray;
}

.Welcome input[type=number] {
    -webkit-text-security: disc;
}

/* Style for Extra Large Screen */
@media (max-width:3920px) {
    .Welcome .btn-sq-responsive {
        width: 125px !important;
        height: 125px !important;
        border-radius: 25%;
    }
}

/* Style for Large Screen */
@media (max-width:991px) {
    .Welcome .btn-sq-responsive {
        width: 100px !important;
        height: 100px !important;
        border-radius: 25%;
    }
}

/* Style for Medium Screen */
@media (max-width:767px) {
    .Welcome .btn-sq-responsive {
        width: 75px !important;
        height: 75px !important;
        border-radius: 25%;
    }
}

.Welcome .col {
    padding:1px;
}